#tray {
  background: rgba(54, 48, 43, 0.7);
  border-radius: 999px;
  padding: 0 12px;
  margin: 0 6px;
  transition: all 150ms ease;
  color: rgb(222, 222, 222);
}

#tray > .passive {
  opacity: 0.5;
}

#tray > .active {
  opacity: 1;
}