#workspaces {
  padding: 7px 10px;
  background: rgba(54, 48, 43, 0.7);
  transition: all 1000ms ease;
  margin-left: 5px;
}

#workspaces button {
  all: unset;
  min-width: 15px;
  min-height: 15px;
  margin: 0 3px;
  border-radius: 999px;
  background: rgba(254, 254, 254, 0.120);
  color: transparent;
  transition: all 150ms ease;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.163);
}

#workspaces button.active {
  background: rgba(255, 255, 255, 0.448);
}